body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* set the initial background to white */
    background-color: #ffffff;
}

button {
    padding: .5rem;
    font-size: 1em;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid rgb(214, 212, 212);
    border-radius: 1rem;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

button:hover {
    background-color: #f1eeee;
    transition: all 0.3s ease-out;
}

button:active {
    transform: scale(0.9);
    transition: all 0.3s ease-out;
}

.text-container,
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#color_input {
    padding: .4rem;
    font-size: 2em;
    font-weight: bold;
    margin-left: .5em;
    width: 15rem;
    border: 2px solid rgb(230, 228, 228);
    border-radius: 5px;
}

.input-group-addon {
    position: relative;
    right: 2.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: none;
    border-radius: 0.25rem;
    padding: 0.5rem 0.5rem;
    transition: background-color 0.2s ease-in-out;
}

.input-group-addon:hover {
    background-color: #e9ecef;
}

.input-group-addon .fa-copy {
    color: #6c757d;
}

.input-group-addon .fa-check {
    color: rgb(90, 180, 0);
}